@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: rgb(9, 9, 43);
    font-family: 'Roboto', sans-serif;
    color: gainsboro;
}

h1{
    margin: 10px 0 10px 0;
}

fieldset{
    width: 400px;
    margin: 20px auto 50px auto;
    border: gainsboro solid 1px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nome, #desc, #url, #capturado, label[for="regiao"]{
    display: block;
    margin: 10px auto 10px auto;
}

input[type="text"]{
    border-radius: 5px;
    height: 20px;
}

div.regiao{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

#kanto, #johto, #hoenn, #sinnoh, #unova, #kalos, #alola, #galar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
    gap: 5px;
}

div.capturado{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#capturado{
    margin: 5px;
}

.button{
    margin: 20px auto 10px auto;
    background-color: gainsboro;
    font-size: 18px;
    padding: 10px;
    border-radius: 12px;
    border: gray solid 1px;
    align-self: center;
}

div.container{
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

div.card{
    width: 400px;
    padding: 10px;
    border: gainsboro solid 1px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2, p{
    display: block;
    margin: 10px auto 10px auto;
}

h3{
    display: block;
    margin: 0px auto 0px auto;
}

img{
    display: block;
    margin: 0px auto 10px auto;
}

h2.capturado{
    color: lightgreen;
}

h2.naoCapturado{
    color: lightsalmon;
}