@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: cadetblue;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
}

main{
    display: grid;
    grid-template-columns: 150px 1fr;
    height: 800px;
}

aside{
    background-color: darkslategrey;
    color: white;
    padding: 20px;
    font-weight: bold;
}

aside ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

section{
    background-color: rgb(195, 255, 255);
    padding: 50px;
}

section img{
    width: 100%;
}
section h2{
    margin: 10px 0;
}