@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

#listaFilmes{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 15px;
}

.filme{
    width: 300px;
    margin: 15px 0;
}

.filme img{
    width: 100%;
}