@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-image: url("../img/luz.jpg");
    background-size: cover;
    color: white;
}

header{
    position: sticky;
    background-color: rgba(94, 34, 21, 0.733);
    text-align: center;
    padding: 15px 0px 15px;
    margin-bottom: 80px;
}

h1{
    font-family: 'Tangerine', cursive;
    font-size: 40px;
}

main{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.video_wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    margin: 0 20px 0 20px;
    height: 720px;
}

.video{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.titulo{
    background-color: rgba(94, 34, 21, 0.65);
    padding: 10px;
    margin: 80px 20px 20px 20px;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin: 0 20px 0 20px;
}

.card{
    background-color: rgba(94, 34, 21, 0.65);
    text-align: justify;
    padding: 10px;
}

footer{
    margin-top: 20px;
}

.buttons{
    text-align: center;
}

#youtube, #instagram{
    margin: 15px;
}

@media(max-width: 1080px){
    .video_wrapper{
        height: 600px;
    }
}

@media(max-width: 900px){
    .video_wrapper{
        height: 480px;
    }
}

@media(max-width: 850px){
    main{
        font-size: 15px;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 750px){
    .video_wrapper{
        height: 400px;
    }
}

@media(max-width: 540px){
    .video_wrapper{
        height: 300px;
    }
}

@media(max-width: 430px){
    .video_wrapper{
        height: 235px;
    }
}

@media(max-width: 340px){
    .video_wrapper{
        height: 160px;
    }
}